* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #7a9568;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    position: relative;
    letter-spacing: 1px;
    transition: background-color 0.3s ease 0s;
    overflow: hidden;
}
.button:hover {
    background-color: #68805d;
}
.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.5);
    animation: button-circle 2s ease forwards;
}
@keyframes button-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}
